.header__logout-button {
    height: 22px;
    width: 56px;
    font-size: 18px;
    color: #A9A9A9;
    background-color: #000;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    box-sizing: border-box;
}


.header__logout-button:focus {
    outline: none;
}

.header__logout-button:hover {
    opacity: .4;
}