.profile__name {    
    font-size: 42px;
    line-height: 56px;
    font-weight: 100;
    margin: 0 17px 0 0;
}

@media screen and (max-width: 664px) {
    .profile__name {
        font-size: 27px;
    }
}

@media screen and (max-width: 590px) {
    .profile__name {
        margin: 0 1px 0 auto;
        text-align: center;
        padding: 0 3px;
    }
}