.profile__prof {
    margin: 16px 0 0;
    font-size: 18px;

}

@media screen and (max-width: 590px) {
    .profile__prof {
        margin-top: 14px;
        font-size: 14px;
        text-align: center;
    }
}