@import url(./__title/foto-grid__title.css);
@import url(./__like-button/foto-grid__like-button.css);
@import url(./__section/foto-grid__section.css);
@import url(./__card/foto-grid__card.css);
@import url(./__delete-button/foto-grid__delete-button.css);
@import url(./__image/foto-grid__image.css);
@import url(./__img-button/foto-grid__img-button.css);
@import url(./__like-button/_true/foto-grid__like-button_true.css);
@import url(./__like-counter/foto-grid__like-counter.css);

.foto-grid {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: max-content max-content;
    grid-gap: 20px;
    margin: 0 auto 66px;
    justify-content: center;
}

@media screen and (max-width: 902px) {
    .foto-grid {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 590px) {
    .foto-grid {
        grid-template-columns: 282px;
    }
}