.sign-form__button {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    width: 358px;
    height: 50px;
    margin-top: 186px;
    cursor: pointer;
    box-sizing: border-box;
}

.sign-form__button:focus {
    outline: none;
}

.sign-form__button:hover {
    opacity: .4;
}