@import url(./_type/_add/popup_type_add.css);
@import url(./_type/_profile/popup_type_profile.css);
@import url(./_type/_image/popup_type_image.css);
@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__imgSrc/popup__imgSrc.css);
@import url(./__title/_img-container/popup__title_img-container.css);
@import url(./__save-button/_block/popup__save-button_block.css);
@import url(./__input/_invalid/popup__input_invalid.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__info-result/popup__info-result.css);
@import url(./__req-true/popup__req-true.css);
@import url(./__req-false/popup__req-false.css);

.popup {
    display: flex;
    background :rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}